.head {
    margin: 0 0 1vh;
}

#auth {
    float: right;
}

.request-counts {
    margin: 0 0 1vh;
}

.panel {
    margin: 0 0 1vh;
}

.bar {
    position: absolute;
    width: 3vh;
    height: .5vh;
    top: 0;
    left: 0;
    background: silver;

    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}